{% load static %}

<html>
<head>
    <title>Chilika Lake</title>
</head>
<body>
<br><br>
<h1 align="center"><font color="olive">Chilika Lake</font></h1>
<br><br>
<center>
<img src="{% static 'images/ChilikaLake.jpg' %}"><br><br><br>
</center>

<p><font face="Courier New" size="4" color="magenta"><b>
Chilika Lake is the largest brackish water lagoon in Asia,
located in Odisha, India.
It spreads across the districts of Puri, Khurda, and Ganjam.
</b></font></p>

<p><font face="Courier New" size="4" color="magenta"><b>
The lake is famous for being one of the largest wintering grounds
for migratory birds in the world.
Thousands of birds from Siberia and other cold regions visit Chilika every year.
</b></font></p>

<p><font face="Courier New" size="4" color="magenta"><b>
It is also known for the rare Irrawaddy dolphins found near Satapada.
Boating and bird watching are popular tourist activities here.
</b></font></p>

<a href="/">⬅ Back to Map</a>

</body>
</html>
