{% load static %}

<html>
<head>
    <title>Jagannath Puri</title>
</head>
<body>

<h1 align="center"><font color="magenta">Jagannath Temple, Puri</font></h1>

<center>
<img src="{% static 'images/JagannathPuri.jpg' %}"><br><br><br>
</center>

<p><font face="Arial" size="4" color="purple"><b>The Jagannath Temple is a famous Hindu temple located in Puri, Odisha. It was built in the 12th century by King Anantavarman Chodaganga Deva. The temple is dedicated to Lord Jagannath, a form of Lord Vishnu.</b></font></p>    


<p><font face="Arial" size="4" color="purple"><b>It is one of the four sacred Char Dham pilgrimage sites in India.
The temple is especially famous for the annual Ratha Yatra (Chariot Festival),
during which the deities Jagannath, Balabhadra and Subhadra are taken out
in grand chariots.</b></font></p>       

<p><font face="Arial" size="4" color="purple"><b>The temple is constructed in Kalinga architectural style and attracts
millions of devotees and tourists every year.</b></font></p>

<a href="/">⬅ Back to Map</a>

</body>
</html>
