{% load static %}

<html>
<head>
    <title>Konark Sun Temple</title>
</head>
<body>
<br><br>
<h1 align="center"><font color="darkyellow">Konark Sun Temple</font></h1>
<center>
<img src="{% static 'images/KonarkSunTemple.jpg' %}" ><br><br><br>
</center>
<br><br>
<p><font face="Trebuchet MS" size="4" color="blue"><b>The Konark Sun Temple is a UNESCO World Heritage Site located in Odisha. It was built in the 13th century by King Narasimhadeva I.</b></font></p> 

<p><font face="Trebuchet MS" size="4" color="blue"><b>The temple is designed in the shape of a gigantic chariot
with 24 beautifully carved stone wheels and seven horses.   It is dedicated to Surya, the Sun God.</b></font></p>   


<p><font face="Trebuchet MS" size="4" color="blue"><b>The temple is an outstanding example of Kalinga architecture
and is famous for its detailed stone carvings. The Konark Dance Festival is held here every year.</b></font></p>

<a href="/">⬅ Back to Map</a>

</body>
</html>
