{% load static %}

<html>
<head>
    <title>Similipal National Park</title>
</head>
<body>

<h1 align="center"><font color="darkgreen">Similipal National Park</font></h1>

<center>
<img src="{% static 'images/SimilipalNationalPark.jpg' %}" ><br><br><br>
</center>
<p><font face="Verdana" size="4" color="orange"><b>Similipal National Park is located in the Mayurbhanj district of Odisha. It is a tiger reserve and also a UNESCO Biosphere Reserve.</b></font></p>

<p><font face="Verdana" size="4" color="orange"><b>It covers an area of about 2750 square kilometers and is part of the Similipal Biosphere Reserve. The park is home to Bengal tigers, elephants, leopards,
gaur, deer and many bird species.
It has dense forests and rich biodiversity.</b>
</font></p>

<p><font face="Verdana" size="4" color="orange"><b>
Popular attractions inside the park include Barehipani Falls
and Joranda Falls, which are among the highest waterfalls in India.</b>
</font></p>

<a href="/">⬅ Back to Map</a>

</body>
</html>
