{% load static %}

<html>
<head>
    <title>Ushakothi Wildlife Sanctuary</title>
</head>
<body>
<br>
<h1 align="center"><font color="brown">Ushakothi Wildlife Sanctuary</font></h1>

<center><img src="{% static 'images/UshaKothiWildlifeSanctuary.jpg' %}" width="500"></center> <br><br><br>
<p><font face="Comic Sans MS" size="4" color="blue"><b>Ushakothi Wildlife Sanctuary, also known as Badrama Wildlife Sanctuary, is located in the Sambalpur district of Odisha. It was established in 1962.</b></font></p>
</p>

<p><font face="Comic Sans MS" size="4" color="blue"><b>
The sanctuary consists mainly of dry deciduous forests
with trees like sal and neem.
It is home to elephants, leopards, sambar deer and bison.</b></font></p>

<p><font face="Comic Sans MS" size="4" color="blue"><b>
It is an important protected area for wildlife conservation
and attracts nature lovers and wildlife enthusiasts.</b></font></p>

<a href="/">⬅ Back to Map</a>

</body>
</html>
